@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400&display=swap');
.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;

  position: relative;
  transform: translate(50px, -100px);
}

.font1 {
  color: #fff;
  font-family: "bossbaby";
  font-size: 170px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}